<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>249233384443-3go3grgd9fegltq2nvonmhv23n7t5atv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.249233384443-3go3grgd9fegltq2nvonmhv23n7t5atv</string>
	<key>API_KEY</key>
	<string>AIzaSyA0W7hj0X3odio63VytZtCyAbsXodVShno</string>
	<key>GCM_SENDER_ID</key>
	<string>249233384443</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.garden</string>
	<key>PROJECT_ID</key>
	<string>doan--iot-dut</string>
	<key>STORAGE_BUCKET</key>
	<string>doan--iot-dut.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:249233384443:ios:bced0fdc03e85ab26e615e</string>
	<key>DATABASE_URL</key>
	<string>https://doan--iot-dut-default-rtdb.firebaseio.com</string>
</dict>
</plist>